<div style="margin-top: 15vh;">

  <button mat-raised-button color="primary" (click)="routeToUserChat1()"
    style="position:absolute; left:40vw;  margin-left: -8vw;">
    user1-chat
  </button>

  <button mat-raised-button color="warn" (click)="routeToClientServiceChat()"
    style="position:absolute; left:60vw;  margin-top: 7.5vh;">
    service-chat
  </button>

</div>

<button mat-raised-button color="primary" (click)="routeToUserChat2()"
  style="position:absolute; left:40vw;  margin-left: -8vw; margin-top: 15vh;">
  user2-chat
</button>